// Bootstrap overrides
$body-bg: #E9EAED;
$text-color: #141823;
$font-size-base: 12px;
$brand-primary: #3B5998;
$navbar-height: 43px;
$navbar-default-bg: #3A5795;
$navbar-border-radius: none;

// custom
$gray: #9197A3;
